
div.outerlayer{
    margin:0;
    height:auto;
    overflow:hidden;
    /*margin-top:20px;*/
    
    background-color:white;
    width:100%;
 
}


    div.img {
    margin: 15px;
    padding: 5px;
    border: 1px solid pink;
    height: 235px;
    width: 200px;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
    height:180px;
    width:180px;
}

div.img a:hover img {
    border:1px solid pink;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 136px;
    margin: 5px;
}
 


div.maindiv{
    background-color:white;
    height:auto;
    width:85%;
    float:left;
    /*top: 440px;*/
}     
div.maindiv1{
    
    height:auto;
    float:left;
    width:100%;
}
   



div.nav{
    height:auto;
    width:15%;
    background-color:black;
    padding-top:5px;
    top:0px;
    float:left;
}
